body {
    font-family: 'Oswald', sans-serif;
  background-color: #9d9c9876;
}    

img {
    border: 5px solid #000000;
  }

img {
    border-radius: 50%;
  }
 
h1{
color: #000000; 
}

img
{
    box-shadow: 15px 15px 15px #00000070;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1s;
}

li a:hover:not(.active) {
  background-color: #77de78;
}

li a.active {
  color: rgb(255, 255, 255);
  background-color: #77de78;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(152, 148, 148, 0);
  color: rgb(120, 117, 117);
  text-align: center;
}